{% extends 'base.html' %}

{% block content %}
<div class="dark">
    <div class="container p-5">
        {% if user.is_authenticated %}
        <h1>Selamat datang, {{ user.username }}</h1>
        <p>Logout dengan tombol di atas kanan</p>

        {% else %}
        <h1>Anda belum login, login dengan tombol dibagian kanan atas</h1>
        {% endif %}    
    </div>
    
</div>
{% endblock content %}