{% extends 'base.html' %}
{% load static %}

{% block title %}
Buku
{% endblock title %}

{% block meta%}
<script src="{% static 'js/buku.js' %}"></script>
{% endblock meta%}

{% block content %}
<div class="dark center">
    <div class="container p-5">
        <h1 class="pb-5">Google Books API</h1>
        <input id="keyword" placeholder="Masukkan kata kunci..">
        <button id="search">search</button>    
    </div>
    <div class="container">
        <div class="row" id="hasil">
            <!-- <div class="col center"> -->
                <!-- Image Here -->
                <!-- Title Here -->
            <!-- </div> -->
        </div>
    </div>
</div>

<script type="text/javascript">
    var gambar_not_found = "{% static 'img/no_cover_thumb.jpg' %}";
</script>
{% endblock content %}