{% extends 'base.html' %}
{% load static %}

{% block title %}
Story 7
{% endblock title %}

{% block meta %}
<script src="{% static 'js/accordion.js' %}"></script>
{% endblock meta %}

{% block content %}
<div class="dark p-5">
    <div class="container" id="accordion-div">
        <!-- accordion 1 -->
        <div class="accordion">
            <div class="acc-heading">
                <div class="row">
                    <div class="col my-auto">
                        <h3>Aktivitas saat ini</h3>
                    </div>
                    <div class="col-1 my-auto">
                        <button class="move-up"><img src="{% static 'img/chevron-up.svg' %}"></button>
                        <button class="move-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
                    </div>
                </div>
            </div>

            <div class="isi" id="isi1">
                <p>
                    Aktivitas yang saat ini sedang saya jalankan
                    adalah kuliah di UI. Saya sedang mengambil
                    mata kuliah PPW, RPL, StatProb, dan MatDas 2.
                </p>
            </div>
        </div>

        <!-- accordion 2 -->
        <div class="accordion">
            <div class="acc-heading">
                <div class="row">
                    <div class="col my-auto">
                        <h3>Pengalaman organisasi/kepanitiaan</h3>
                    </div>
                    <div class="col-1 my-auto">
                        <button class="move-up"><img src="{% static 'img/chevron-up.svg' %}"></button>
                        <button class="move-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
                    </div>
                </div>
            </div>

            <div class="isi" id="isi2">
                <p>
                    Pengalaman organisasi saya adalah menjadi bagian
                    OSIS dan Paskibra saat SMA.
                </p>
            </div>
        </div>

        <!-- accordion 3 -->
        <div class="accordion">
            <div class="acc-heading">
                <div class="row">
                    <div class="col my-auto">
                        <h3>Prestasi</h3>
                    </div>
                    <div class="col-1 my-auto">
                        <button class="move-up"><img src="{% static 'img/chevron-up.svg' %}"></button>
                        <button class="move-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
                    </div>
                </div>    
            </div>

            <div class="isi" id="isi3">
                <p>
                    Prestasi yang pernah saya dapatkan adalah
                    pernah mengikuti dan memenangkan lomba
                    paskibra dan masuk UI hehehe.
                </p>
            </div>    
        </div>

        <!-- accordion 4 -->
        <div class="accordion">
            <div class="acc-heading">
                <div class="row">
                    <div class="col my-auto">
                        <h3>Hobi</h3>
                    </div>
                    <div class="col-1 my-auto">
                        <button class="move-up"><img src="{% static 'img/chevron-up.svg' %}"></button>
                        <button class="move-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
                    </div>
                </div>
            </div>

            <div class="isi" id="isi4">
                <p>
                    Hobi saya adalah main game dan programming.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}