* {
  font-family: 'Red Hat Display', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.light {
  background-color: #C5C6C7;
  min-height: 100%;
}

.light h1 {
  font-weight: 700;
  font-size: 72px;
  color: #45A29E;
  margin: 0;
}

.light h2 {
  font-weight: 700;
  font-size: 36px;
  color: #45A29E;
}

.light h3 {
  font-weight: 700;
  font-size: 25px;
  color: #C5C6C7;
}

.light p {
  font-size: 18px;
  font-weight: 300;
  color: #0B0C10;
}

.dark {
  background-color: #1F2833;
  min-height: 100%;
}

.dark h1 {
  color: #66FCF1;
  font-weight: 700;
  font-size: 72px;
  margin: 0;
}

.dark h3 {
  color: #66FCF1;
  font-weight: 300;
  font-size: 36px;
}

.dark h5 {
  font-weight: 400;
  font-size: 24px;
  color: #C5C6C7;
}

.dark p {
  font-weight: 400;
  font-size: 18px;
  color: #C5C6C7;
}

.dark label {
  font-weight: 400;
  font-size: 18px;
  color: #C5C6C7;
}

a {
  text-decoration: none;
}

.a-landing {
  color: #45A29E;
  font-weight: 700;
  font-size: 36px;
}

.a-landing:hover {
  color: #45A29E;
  font-weight: 700;
  font-size: 36px;
  border-bottom: 1px solid #45A29E;
}

.btn-light {
  background-color: #45A29E;
  color: #C5C6C7;
  font-size: 20px;
}

.btn-bright {
  background-color: #66FCF1;
  color: #1F2833;
  font-size: 20px;
}

.center-page {
  align-items: center;
}

.kegiatan {
  border-style: solid;
  border-width: medium;
  border-color: #66FCF1;
}

.center {
  text-align: center;
  align-items: center;
}

.accordion {
  margin: 10px;
}

.acc-heading {
  background-color: #45A29E;
  border-color: #C5C6C7;
  border-style: solid;
  border-width: 2px;
  font-weight: 700;
  margin: 0;
}
.accordion p {
  background-color: #C5C6C7;
  color: #0B0C10;
}

.accordion button {
  background-color: #ffc107;
}

.thumbnail {
  height: 189px;
}

.buku p {
  color: white;
}