{% extends 'base.html' %}
{% load static %}

{% block title %}
Azhar PPW
{% endblock title %}

{% block content %}
<div class="dark page">
    <div class="p-5">
        <div class="container text-center" style="align-items: center;">
            <h1>Nothing here.</h1>
            <img src="{% static 'img/wallace.png' %}" class="img-fluid p-5">    
        </div>
        
    </div>
</div>
{% endblock %}