<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  
  <!-- Title -->
  <title>{% block title %}{% endblock title %}</title>
  {% block icon %}
  <link rel="icon" href="{% static 'img/heart.png' %}" type="image/icon type">
  {% endblock icon %}

  <!-- Meta -->
  {% block meta %}
  {% endblock meta %}
</head>

<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Azhar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'kegiatan' %}">Story 6</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accordion' %}">Story 7</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'buku' %}">Story 8</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'landing_login' %}">Story 9</a>
      </li>
    </ul>
    <ul class="navbar-nav nav navbar-right">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}?next={% url 'landing_login' %}">Log Out</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}" id="register_button">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}?next={% url 'landing_login' %}">Log In</a>
      </li>
      {% endif %}
      
    </ul>
  </div>
</nav>

  {% block content %}
  {% endblock content %}
</body>

</html>
