{% extends 'base.html' %}

{% block title %}
Form Kegiatan
{% endblock title %}

{% block content %}
<div class="light">
    <form method="POST" class="kegiatan-form p-5">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info">Submit</button>
    </form>    
</div>
{% endblock %}