{% extends 'base.html' %}

{% block title %}
Story 6
{% endblock title %}

{% block content %}
<div class="dark">
    <h1 class="center p-5">Kegiatan Azhar</h1>
    <div class="container">
        {% for kegiatan, peserta in peserta_list.items %}
        <div class="kegiatan container mb-5">
            <h1>{{ kegiatan.nama_kegiatan }}</h1>
            <div>
                <ul>
                    {% if peserta.count > 0 %}
                        <h5>Peserta:</h5>
                        {% for p in peserta %}
                        <li><p>{{ p.nama_peserta }}</p></li>
                        {% endfor %}
                        <a class="btn btn-warning" href="{% url 'add_peserta' id=kegiatan.id %}" id="add_peserta_{{ kegiatan.id }}">
                            Tambah Peserta
                        </a>
                    {% else %}
                    <p>Belum ada anggota!<br>Daftarkan diri anda dengan tombol berikut!</p>
                    <a class="btn btn-warning" href="{% url 'add_peserta' id=kegiatan.id %}" id="add_peserta_{{ kegiatan.id }}">
                        Tambah Peserta
                    </a>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
        <a class="btn btn-danger" href="{% url 'add_kegiatan' %}" id="add_kegiatan_button">
            Tambah Kegiatan
        </a>
    </div>
</div>
{% endblock %}
